@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root{
    --cor-de-fundo:#28c700;
    --grifar:#0433c0;
    --branco:#ffffff;
    --botao-ativo:#d0e60c;
    --botao-inativo:#f71808;
    --texto-fundo:#000002;
}

body{
    background-color:var(--cor-de-fundo);
    color:var(--branco);
    font-family:'Chakra Petch',sans-serif;
}

.conteudo-principal{
    max-width:1200px;
    margin:auto;
}

.titulo-principal{
    font-size:32px;
}

.titulo-principal span{
    color:var(--grifar);
}

.botoes{
    display:flex;
}

.botao{
    background:var(--botao-inativo);
    color:white;
    border:none;
    padding:1rem;
    width:100%;
    cursor:pointer;
    font-size:18px;
}

.botao.ativo{
    background:var(--botao-ativo);
    color:black;
}

.botao:first-child{
    border-radius:20px 0 0 0;
}

.botao:last-child{
    border-radius:0 20px 0 0;
}

.abas-textos{
    background:var(--texto-fundo);
    padding:30px;
    border-radius:0 0 20px 20px;
}

.aba-conteudo{
    display:none;
}

.aba-conteudo.ativo{
    display:block;
}

.aba-conteudo-titulo-principal{
    text-align:center;
    font-size:28px;
}

.aba-conteudo-titulo-secundario{
    text-align:center;
    color:var(--grifar);
}

.contador{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.contador-digito{
    text-align:center;
    padding:20px;
}

.contador-digito-numero{
    font-size:70px;
    margin:0;
}

.contador-digito-texto{
    color:var(--grifar);
}